html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  background: radial-gradient(#91bac5, #3056a0);
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  color: white;
  filter: drop-shadow(0.01em 0.01em 0.65rem black);
}

#question {
  font-size: 30em;
  font-weight: bold;
}

#answer {
  font-size: 10em;
  font-family: arial;
}
